<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqriceball.mapper.EmpMapper">


    <!--新增員工資料-->
    <insert id="insert" parameterType="com.qqriceball.model.entity.Emp" useGeneratedKeys="true" keyProperty="id">
        insert into emps(username, password, name, role,status , entry_date, create_id, create_time, update_id, update_time)
        values (#{username},#{password}, #{name}, #{role}, #{status}, #{entryDate} ,#{createId}, #{createTime}, #{updateId}, #{updateTime})
    </insert>


    <!--分頁查詢-->
    <select id="pageQuery" resultType="com.qqriceball.model.vo.EmpVO">
        select id, username, name, role, status, entry_date
        from emps
        <where>
            <if test="name != null and name !=''">
                name like concat('%',#{name},'%')
            </if>
            <if test="status != null and status !=''">
                status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <!--更新員工資料-->
    <update id="updateById" parameterType="com.qqriceball.model.entity.Emp">
        update emps
        <set>
            <if test = "name != null"> name = #{name}, </if>
            <if test = "password != null"> password = #{password} ,</if>
            <if test = "role != null"> role = #{role}, </if>
            <if test = "entryDate != null">entry_date = #{entryDate}, </if>
            <if test = "status != null"> status = #{status},</if>
            <if test = "updateId != null">update_id = #{updateId},</if>
            <if test = "updateTime != null">update_time = #{updateTime} </if>
        </set>
        where id = #{id}
    </update>


</mapper>