<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqriceball.mapper.OptionMapper">

    <!--新增產品細節選項-->
    <insert id="insert" parameterType="com.qqriceball.model.entity.Option" useGeneratedKeys="true" keyProperty="id">
        insert into options(title, option_type, is_default, price, status, create_id, create_time, update_id, update_time)
        values (#{title},#{optionType},#{isDefault}, #{price}, #{status} ,#{createId}, #{createTime}, #{updateId}, #{updateTime})
    </insert>

    <!--分頁查詢-->
    <select id="pageQuery" resultType="com.qqriceball.model.vo.OptionVO">
        select id, title, option_type,is_default, price, status
        from options
        <where>
            option_type = #{optionType}
            <if test="title != null and title !=''">
                AND title like concat('%',#{title},'%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        order by id
    </select>

    <!--更新細節選項資料-->
    <update id="updateById" parameterType="com.qqriceball.model.entity.Option">
        update options
        <set>
            <if test = "title != null"> title = #{title}, </if>
            <if test = "optionType != null"> option_type = #{optionType} ,</if>
            <if test = "isDefault != null"> is_default = #{isDefault} ,</if>
            <if test = "price != null"> price = #{price}, </if>
            <if test = "status != null"> status = #{status}, </if>
            <if test = "updateId != null"> update_id = #{updateId},</if>
            <if test = "updateTime != null">update_time = #{updateTime} </if>
        </set>
        where id = #{id}
    </update>

    <!--更新指定 OptionType 的預設設定為 0-->
    <update id="cleanDefaultByOptionType" parameterType="java.lang.Integer">
        update options
        SET is_default = 0
        where option_type = #{optionType}
          AND is_default = 1
    </update>


</mapper>