<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqriceball.mapper.ProductMapper">

    <!--新增產品品項-->
    <insert id="insert" parameterType="com.qqriceball.model.entity.Product" useGeneratedKeys="true" keyProperty="id">
        insert into products(title, product_type, price, status, create_id, create_time, update_id, update_time)
        values (#{title},#{productType}, #{price}, #{status} ,#{createId}, #{createTime}, #{updateId}, #{updateTime})
    </insert>

    <!--分頁查詢-->
    <select id="pageQuery" resultType="com.qqriceball.model.vo.ProductVO">
        select id, title, product_type, price, status
        from products
        <where>
            <if test="title != null and title !=''">
                AND title like concat('%',#{title},'%')
            </if>
            <if test="productType != null">
                AND product_type = #{productType}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        order by id
    </select>

    <!--更新產品品項資料-->
    <update id="updateById" parameterType="com.qqriceball.model.entity.Product">
        update products
        <set>
            <if test = "title != null"> title = #{title}, </if>
            <if test = "productType != null"> product_type = #{productType} ,</if>
            <if test = "price != null"> price = #{price}, </if>
            <if test = "status != null"> status = #{status},</if>
            <if test = "updateId != null">update_id = #{updateId},</if>
            <if test = "updateTime != null">update_time = #{updateTime} </if>
        </set>
        where id = #{id}
    </update>

</mapper>