

DB_URL_DEV=jdbc:mysql://localhost:3306/qq_pos_dev?serverTimezone=Asia/Taipei&characterEncoding=utf-8
DB_USERNAME_DEV=yourUsername
DB_PASSWORD_DEV=yourPassword
JWT_SECRET_KEY_DEV=yourSecretKey



DB_URL_TEST=jdbc:mysql://localhost:3306/qq_pos_test?serverTimezone=Asia/Taipei&characterEncoding=utf-8
DB_USERNAME_TEST=yourUsername
DB_PASSWORD_TEST=yourPassword
JWT_SECRET_KEY_TEST=yourSecretKey



DB_URL_PROD=jdbc:mysql://localhost:3306/qq_pos_prod?serverTimezone=Asia/Taipei&characterEncoding=utf-8
DB_USERNAME_PROD=yourUsername
DB_PASSWORD_PROD=yourPassword
JWT_SECRET_KEY_PROD=yourSecretKey
