<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqriceball.server.mapper.ProductOptionLinkMapper">

    <!--新增菜單品項-->
    <insert id="insertBatch">
        insert into product_option_link(product_id, option_id)
        values
        <foreach collection="allowedOptionIds" item="link" separator=",">
            (#{link.productId}, #{link.optionId})
        </foreach>
    </insert>

</mapper>