<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqriceball.mapper.order.OrderMapper">

    <!--新增訂單主表-->
    <insert id="insert" parameterType="com.qqriceball.model.entity.order.Order" useGeneratedKeys="true" keyProperty="id">
        insert into orders(order_no,pickup_time, total, status, create_id, create_time, update_id, update_time)
        values (#{orderNo},#{pickupTime},#{total},#{status},#{createId}, #{createTime}, #{updateId}, #{updateTime})
    </insert>

    <!--分頁查詢訂單-->
    <select id="pageQuery" resultType="com.qqriceball.model.vo.order.OrderDetailVO">
        select o.id, o.order_no, o.pickup_time, o.total, o.status,
               creator.name as createName, o.create_time,
               updater.name as updateName, o.update_time
        from orders o
        left join emps creator on o.create_id = creator.id
        left join emps updater on o.update_id = updater.id
        <where>
            <if test="orderNo != null and orderNo != ''">
                AND o.order_no = #{orderNo}
            </if>
            <if test="status != null">
                AND o.status = #{status}
            </if>
            AND o.pickup_time &gt;= CONCAT(#{startDate}, ' 00:00:00')
            AND o.pickup_time &lt;= CONCAT(#{endDate}, ' 23:59:59')
        </where>
        order by o.status ASC, o.order_no ASC
    </select>


</mapper>