<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqriceball.mapper.order.OrderMapper">

    <!--新增訂單主表-->
    <insert id="insert" parameterType="com.qqriceball.model.entity.order.Order" useGeneratedKeys="true" keyProperty="id">
        insert into orders(order_no,pickup_time, total, status, create_id, create_time, update_id, update_time)
        values (#{orderNo},#{pickupTime},#{total},#{status},#{createId}, #{createTime}, #{updateId}, #{updateTime})
    </insert>


</mapper>